body
{
	background-color: rgb(25,25,25);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1700px;
	text-align: center; 
}
h1
{
	letter-spacing: 0.1em;
	color: rgb(203,159,0);
	font-size: 100px;
	font-family:fantasy;
	text-decoration: underline;
	border: 3px groove;
	border-color: rgb(203,159,0);
}
h2
{
	font-size: 15px;
	color: white;
}
article
{
	color: white;
	text-align: center;
}
h3
{
	font-weight: bold;
 	font-size: 50px;
 	color: rgb(203,159,0);
}
p
{
	font-size: 50px;
	text-align: center; 
	color: white;
}
aside
{
	color: rgb(203,159,0);
	text-align: 
}
h4:hover
{
	border: dashed;
}
h5
{
	font-size: 20px;
}
